<div class="featured-blog featured-blog--{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="wrapper rows">

    {%- assign blog = blogs[section.settings.blog] -%}

    {%- assign width = 'small--one-whole medium--one-whole large--one-whole' -%}


    {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
      <hr class="hr--small">
    </div>
    {% endif %}
    {% assign count = 0%}

    {% for article in blog.articles reversed%}
    {% assign modulo = count | modulo:2%}
    {% if modulo == 0%}
    	{%assign layout = 'right'%}
    {%else%}
    	{%assign layout = 'left'%}
    {%endif%}
    <div class="wrapper row">
      <div class="page-width feature-row">
        {% capture image_layout %}
        <div class="feature-row__item">
          {% if article.image != blank %}
          <noscript>
            {{ article.image  | img_url: '600x600' | img_tag: article.title , 'feature-row__image-no-js' }}
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
            {% assign img_url = article.image  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="feature-row__image lazyload"
                 src="{{ article.image  | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                 data-aspectratio="{{article.image.aspect_ratio }}"
                 data-sizes="auto">
          </div>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        {% endcapture %}

        <div class="feature-row">
          {% if layout == 'left' %}
          {{ image_layout }}
          {% endif %}

          <div class="{{ layout }} feature-row__item feature-row__text feature-row__text--{{ layout }} ">
            {% if article.title != blank %}
            <h2 class="h3">{{ article.title | escape }}</h2>
            {% endif %}
            {% if article.content != blank %}
            <div class="rte-setting featured-row__subtext">{{ article.content }}</div>
            {% endif %}
          </div>

          {% if layout == 'right' %}
          {{ image_layout }}
          {% endif %}
        </div>
      </div>
    </div>
    {% assign count = count | plus: 1 %}
    {% endfor %}


    {% if blog == empty %}
    {% include 'onboarding-featured-blog' %}
    {% endif %}

  </div>
</div>


{% schema %}
{
  "name": "Our Story - Blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Printing Process"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Printing Process"
    }
  ],
  "presets": [
    {
      "name": "Printing Process",
      "category": "Blog",
      "settings": {
        "blog": "Printing Process"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
.rows{
	margin-bottom: 5%;
}

.row{
	padding: 0;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
