<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table>
  <tr>
    <th>Id</th>
    <th><%= @supplier.id %></th>
  </tr>
  <tr>
    <th>Name</th>
    <th><%= @supplier.name %></th>
  </tr>
  <tr>
    <th>Product Kind</th>
    <th><%= @supplier.product_kind %></th>
  </tr>
  <tr>
    <th>Description</th>
    <th><%= @supplier.description %></th>
  </tr>
  <tr>
    <th>Lattitude</th>
    <th><%= @supplier.lattitude %></th>
  </tr>
  <tr>
    <th>Longitude</th>
    <th><%= @supplier.longitude %></th>
  </tr>
  <tr>
    <th>Image</th>
    <th><%= image_tag @supplier.image.url %> </th>
    <th><%= link_to 'Remove Image', remove_image_supplier_path(@supplier), :method => :delete %></th>
  </tr>
</table>

<p>
<div class="btn-group">
  <%= link_to edit_supplier_path(@supplier), class: "btn btn-primary btn-sm" do %>
    <i class="glyphicon glyphicon-edit"></i>
    <span>Edit Supplier</span>
  <% end %>
  <%= link_to supplier_path(@supplier), class: "btn btn-danger btn-sm", method: :delete do %>
    <i class="glyphicon glyphicon-trash"></i>
    <span>Delete Supplier</span>
  <% end %>
</div>
</p>
