<div class="media">
  <div class="media-body">
    <h4><%= @supplier.name %> | &nbsp; <small><%= @supplier.id %></small></h4>
    <h5>Type: <%= @supplier.product_kind || "unknown" %></h5>
    <p><%= @supplier.description %></p>
  </div>
</div>

<div class="btn-group">
  <%= link_to edit_supplier_path(@supplier), class: "btn btn-primary btn-sm" do %>
    <i class="glyphicon glyphicon-edit"></i>
    <span>Edit Supplier</span>
  <% end %>
  <%= link_to supplier_path(@supplier), class: "btn btn-danger btn-sm", method: :delete do %>
    <i class="glyphicon glyphicon-trash"></i>
    <span>Delete Supplier</span>
  <% end %>
</div>