<p id="notice"><%= notice %></p>

<h1>Supply Maps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_maps.each do |supply_map| %>
      <tr>
        <td><%= supply_map.name %></td>
        <td><%= supply_map.id %></td>
        <td><%= link_to 'Show', supply_map %></td>
        <td><%= link_to 'Edit', edit_supply_map_path(supply_map) %></td>
        <td><%= link_to 'Destroy', supply_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply Map', new_supply_map_path %>
