<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supply_map.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @supply_map.id %>
</p>

<%= link_to 'Edit', edit_supply_map_path(@supply_map) %> |
<%= link_to 'Back', supply_maps_path %>
